In [1]:
import pandas as pd  
import numpy as np
import re

# Rent price evolution

In [2]:
Cv = pd.read_excel("Cosas varias (evo. alquiler por m2).xlsx")

In [3]:
Cv

,Unnamed: 0,District ID,District,January,February,March,April,May,June,July,August,September,October,November,December
0,2012,0,City of Madrid,12.1,12.1,12.0,12.0,11.9,11.9,11.9,11.9,11.9,11.8,11.6,11.5
1,2012,1,Centro,15.0,14.7,14.6,14.4,14.3,14.2,14.1,14.1,14.0,14.0,13.9,13.8
2,2012,2,Arganzuela,11.9,11.8,11.8,11.7,11.6,11.7,11.5,11.5,11.5,11.5,11.4,11.2
3,2012,3,Retiro,12.7,12.6,12.5,12.6,12.6,12.5,12.3,12.2,12.2,12.2,12.0,12.0
4,2012,4,Salamanca,14.5,14.5,14.4,14.2,14.2,14.0,14.1,14.1,14.1,14.1,14.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,2022,17,Villaverde,10.9,10.8,10.8,11.0,11.1,11.2,11.2,11.4,11.7,11.8,11.9,12.0
238,2022,18,Villa de Vallecas,11.3,11.2,11.1,11.3,11.6,11.8,11.8,11.7,11.7,11.6,11.7,11.9
239,2022,19,Vicálvaro,10.5,10.5,10.5,10.6,10.8,11.0,11.0,11.1,11.2,11.3,11.3,11.2
240,2022,20,San Blas-Canillejas,11.5,11.6,11.8,12.0,12.0,12.1,12.1,12.2,12.3,12.4,12.5,12.5
241,2022,21,Barajas,11.6,11.7,12.2,12.4,12.4,12.2,12.2,12.2,12.1,12.2,12.4,12.5

In [4]:
Cv =Cv.rename(columns={'Unnamed: 0' : 'Year'})
Cv['District']= Cv['District'].str.lower()

In [5]:
Cv.to_csv('Rentpricevo.csv', index = False)

# Buy price evolution

In [6]:
Buypricevo1 = pd.read_excel("Precio de la vivienda despues de 2018.xlsx")

In [7]:
Buypricevo2 = pd.read_excel("Precio de la vivienda hasta 2018.xlsx")

In [8]:
Buypricevo = pd.concat([Buypricevo2, Buypricevo1], ignore_index=True, axis=0)
Buypricevo['District']= Buypricevo['District'].str.lower()
Buypricevo

,Year,District-ID,District,January,February,March,April,May,June,July,August,September,October,November,December
0,2012,0,city of madrid,3195,3195,3195,3107,3107,3107,3079,3079,3079,3000,3000,3000
1,2012,1,centro,3484,3484,3484,3390,3390,3390,3312,3312,3312,3202,3202,3202
2,2012,2,arganzuela,3023,3023,3023,2898,2898,2898,2790,2790,2790,2690,2690,2690
3,2012,3,retiro,3770,3770,3770,3661,3661,3661,3611,3611,3611,3460,3460,3460
4,2012,4,salamanca,4388,4388,4388,4267,4267,4267,4297,4297,4297,4173,4173,4173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,2022,17,villaverde,1685,1694,1702,1728,1743,1784,1832,1851,1837,1832,1834,1834
238,2022,18,villa de vallecas,2408,2414,2459,2490,2510,2523,2491,2505,2420,2449,2510,2529
239,2022,19,vicálvaro,2440,2589,2526,2533,2797,2837,2833,2842,2784,2822,2777,2708
240,2022,20,san blas-canillejas,2575,2528,2546,2551,2585,2618,2666,2705,2777,2808,2803,2776
241,2022,21,barajas,3373,3378,3345,3241,3220,3237,3255,3327,3301,3385,3454,3414

In [9]:
Buypricevo.to_csv('Buypricevo.csv', index = False)

# AEC - Cultural events

In [10]:
Aec = pd.read_excel("agenda-eventos-culturales.xlsx")
pd.set_option('display.max_columns', None)
Aec.head()

,ID-EVENTO,TITULO,PRECIO,GRATUITO,LARGA-DURACION,DIAS-SEMANA,DIAS-EXCLUIDOS,FECHA,FECHA-FIN,HORA,DESCRIPCION,CONTENT-URL,TITULO-ACTIVIDAD,URL-ACTIVIDAD,URL-INSTALACION,NOMBRE-INSTALACION,ACCESIBILIDAD-INSTALACION,CLASE-VIAL-INSTALACION,NOMBRE-VIA-INSTALACION,NUM-INSTALACION,DISTRITO-INSTALACION,BARRIO-INSTALACION,CODIGO-POSTAL-INSTALACION,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TIPO,AUDIENCIA
0,11893656,"1,2,3... Relax a través del yoga",NaN,1,1,X,NaN,2023-01-11 00:00:00.0,2023-04-12 23:59:00.0,17:00:00,NaN,http://www.madrid.es/sites/v/index.jsp?vgnextc...,"1,2,3... Relax a través del yoga",http://www.madrid.es/sites/v/index.jsp?vgnextc...,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Espacio de Igualdad María Zambrano. Chamberí,1,CALLE,ANDRES MELLADO,44,CHAMBERI,GAZTAMBIDE,28015.0,439412.0,4476170.0,4.043396e+16,-3.714336e+16,/contenido/actividades/CursosTalleres,/usuario/Mujeres
1,11951201,20 a tocar,NaN,1,0,NaN,NaN,2023-03-25 00:00:00.0,2023-03-25 23:59:00.0,12:00:00,NaN,http://www.madrid.es/sites/v/index.jsp?vgnextc...,NaN,NaN,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Parque Olof Palme,2,CALLE,CERECINOS,1,USERA,ZOFIO,28026.0,439486.0,4470667.0,4.038440e+15,-3.712952e+16,/contenido/actividades/Musica,NaN
2,11942368,3 cromosomas de Janira León,NaN,1,0,NaN,NaN,2023-03-31 00:00:00.0,2023-03-31 23:59:00.0,18:00:00,NaN,http://www.madrid.es/sites/v/index.jsp?vgnextc...,NaN,NaN,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Biblioteca Pública Municipal José Saramago (Fu...,1.6,AVENIDA,MONFORTE DE LEMOS,38,FUENCARRAL-EL PARDO,EL PILAR,28029.0,439867.0,4481122.0,4.047860e+15,-3.709441e+16,/contenido/actividades/RecitalesPresentaciones...,/usuario/Niños
3,11885588,"3, 2, 1... Impro: taller de improvisación de t...",NaN,1,1,L,NaN,2023-01-09 00:00:00.0,2023-06-26 23:59:00.0,18:00:00,NaN,http://www.madrid.es/sites/v/index.jsp?vgnextc...,"3, 2, 1... Impro: taller de improvisación de t...",http://www.madrid.es/sites/v/index.jsp?vgnextc...,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Espacio de Igualdad Lourdes Hernández. Caraban...,1,CALLE,COMANDANTE FONTANES,8,CARABANCHEL,SAN ISIDRO,28019.0,438758.0,4471886.0,4.039533e+16,-3.721623e+15,/contenido/actividades/CursosTalleres,/usuario/Mujeres
4,11835158,3ª Edición Paseos Morados,NaN,1,0,NaN,NaN,2023-03-24 00:00:00.0,2023-03-24 23:59:00.0,09:30:00,NaN,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Paseos morados,http://www.madrid.es/sites/v/index.jsp?vgnextc...,http://www.madrid.es/sites/v/index.jsp?vgnextc...,Espacio de Igualdad Dulce Chacón. Villaverde,0,CALLE,MAREAS,34,VILLAVERDE,SAN ANDRES,28021.0,439286.0,4466819.0,4.034971e+14,-3.714942e+16,/contenido/actividades/ExcursionesItinerariosV...,/usuario/Mujeres

In [11]:
Aec = Aec.drop(['CONTENT-URL','TITULO-ACTIVIDAD','URL-ACTIVIDAD', 'URL-INSTALACION', 'NOMBRE-INSTALACION','ACCESIBILIDAD-INSTALACION','CLASE-VIAL-INSTALACION', 'NOMBRE-VIA-INSTALACION','BARRIO-INSTALACION', 'CODIGO-POSTAL-INSTALACION'], axis=1)

In [12]:
Aec.isna().sum()

 ID-EVENTO                 0
TITULO                     0
PRECIO                  1204
GRATUITO                   0
LARGA-DURACION             0
DIAS-SEMANA              894
DIAS-EXCLUIDOS          1221
FECHA                      0
FECHA-FIN                  0
HORA                     286
DESCRIPCION              845
NUM-INSTALACION           56
DISTRITO-INSTALACION      49
COORDENADA-X              49
COORDENADA-Y              49
LATITUD                   49
LONGITUD                  49
TIPO                      81
AUDIENCIA                946
dtype: int64

In [13]:
#  I find so many NaN values in PRECIO, DIAS-SEMANA, DIAS-EXCLUIDOS, DESCRIPCION, AUDIENCIA and HORA, NUM-INSTALACION. I will drop this columns because I don´t find it relevant.
# On the ohter hand I will fill Nan values in DISTRITO-INSTALACION, COORDENADA-X, COORDENADA-Y, LATITUD, LONGITUD and TIPO with "Unknown"
Aec = Aec.drop(['PRECIO','DIAS-SEMANA','DIAS-EXCLUIDOS', 'HORA', 'DESCRIPCION','NUM-INSTALACION','AUDIENCIA','GRATUITO','LARGA-DURACION','FECHA','FECHA-FIN'], axis=1)

In [14]:
# Aec ['TIPO'].value_counts(dropna = False)

In [15]:
for x in Aec:    
    Aec[x] = Aec[x].fillna('Unknown')

In [16]:
# I want to drop from this column '/contenido/actividades/'
Type = []
for c in Aec ['TIPO']:
    Type.append(c.split ('/')[3: ])
Aec['TIPO'] = Type

In [17]:
Aec['TIPO'].isna().sum()

0

In [18]:
# Translate column names to English.
Aec= Aec.rename(columns={'ID-EVENTO':'Event-ID',
                         'TITULO':'Title', 
                         'DISTRITO-INSTALACION' :'District',
                         'COORDENADA-X' :'X-coordinate',
                         'COORDENADA-Y' :'Y-coordinate',
                         'LATITUD' :'Latitude',
                         'LONGITUD' :'Length',
                         'TIPO' :'Type'})

In [19]:
# Aec['X-coordinate'].astype(int)
Aec['District']= Aec['District'].str.lower()
Aec

,ID-EVENTO,Title,District,X-coordinate,Y-coordinate,Latitude,Length,Type
0,11893656,"1,2,3... Relax a través del yoga",chamberi,439412.0,4476170.0,40433958260960896.0,-37143358486689400.0,[CursosTalleres]
1,11951201,20 a tocar,usera,439486.0,4470667.0,4038439900273860.0,-37129519968429400.0,[Musica]
2,11942368,3 cromosomas de Janira León,fuencarral-el pardo,439867.0,4481122.0,4047860087334550.0,-37094408342979904.0,[RecitalesPresentacionesActosLiterarios]
3,11885588,"3, 2, 1... Impro: taller de improvisación de t...",carabanchel,438758.0,4471886.0,40395326406887904.0,-3721622686264930.0,[CursosTalleres]
4,11835158,3ª Edición Paseos Morados,villaverde,439286.0,4466819.0,403497106325215.0,-37149416291006704.0,[ExcursionesItinerariosVisitas]
...,...,...,...,...,...,...,...,...
1322,11912304,¿Que te pasa Nicolasa?,fuencarral-el pardo,439894.0,4481167.0,4047900813206290.0,-3709138377702430.0,[CuentacuentosTiteresMarionetas]
1323,11958033,¿Qué tiene la zarzamora?,villa de vallecas,447107.0,4470075.0,40379584618162096.0,-3623110349262370.0,[TeatroPerformance]
1324,11744205,Ágora Joven,salamanca,441476.0,4475151.0,40424926347610704.0,-36899208519663400.0,[ProgramacionDestacadaAgendaCultura]
1325,11768385,Ça Marche. Los figurantes. Un retrato poliédri...,centro,439759.0,4475508.0,4042802889001870.0,-3710182353581840.0,[ProgramacionDestacadaAgendaCultura]
1326,11903668,'Retrato de una mujer desconocida' de Jesús Bo...,san blas-canillejas,448214.0,4476029.0,40433291625973600.0,-36105662311927400.0,[RecitalesPresentacionesActosLiterarios]

In [20]:
Aec.to_csv('cultural-events.csv', index = False)

# Airbnb

In [21]:
Airbnb = pd.read_excel("Airbnb Kaggle.xlsx")
Airbnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,Unnamed: 16
0,6369,"Rooftop terrace room , ensuite bathroom",13660,Simon,ChamartÃ­n,HispanoamÃ©rica,4045724,-367688,Private room,60,1.0,78,2020-09-20 00:00:00,0.58,1.0,180.0,NaN
1,21853,Bright and airy room,83531,Abdel,Latina,CÃ¡rmenes,4040381,-37413,Private room,31,4.0,33,2018-07-15 00:00:00,0.42,2.0,364.0,NaN
2,23001,Apartmento Arganzuela- Madrid Rio,82175,Jesus,Arganzuela,Legazpi,403884,-369511,Entire home/apt,50,15.0,0,NaN,NaN,7.0,1.0,NaN
3,24805,Gran Via Studio Madrid,346366726,A,Centro,Universidad,4042183,-370529,Entire home/apt,92,5.0,10,2020-03-01 00:00:00,0.13,1.0,72.0,NaN
4,26825,Single Room whith private Bathroom,114340,Agustina,Arganzuela,Legazpi,4038975,-369018,Private room,26,2.0,149,2020-03-12 00:00:00,1.12,1.0,365.0,NaN

In [22]:
# Here I need the information about the numer of Airbnb for each District and the price just to know the area where most tourists are accommodated
Airbnb = Airbnb.drop(['host_id','host_name','name', 'neighbourhood', 'minimum_nights', 'number_of_reviews','last_review','reviews_per_month','calculated_host_listings_count', 'availability_365', 'Unnamed: 16'], axis=1)

In [23]:
# In this case there are few NaN values in a big Dataset, so I will drop them.
Airbnb.isna().sum()

id                      4
neighbourhood_group    72
latitude               71
longitude              71
room_type              71
price                  71
dtype: int64

In [24]:
# Drop all the NaN values, we have a big dataset.
Airbnb = Airbnb.dropna()

In [25]:
Airbnb= Airbnb.rename(columns={'id':'airbnb-ID', 'neighbourhood_group' : 'district'})

In [26]:
Airbnb ['district'].value_counts()

Centro                   8618
Salamanca                1324
ChamberÃ­                1248
Arganzuela               1102
TetuÃ¡n                   811
Carabanchel               706
Retiro                    662
Ciudad Lineal             648
Puente de Vallecas        614
Latina                    605
ChamartÃ­n                579
Moncloa - Aravaca         553
San Blas - Canillejas     490
Hortaleza                 364
Fuencarral - El Pardo     313
Usera                     280
Villaverde                176
Barajas                   168
Moratalaz                 118
Villa de Vallecas          98
VicÃ¡lvaro                 71
Embajadores                 6
Palacio                     5
Arcos                       4
Sol                         4
Almenara                    3
Ibiza                       2
Puerta del Angel            2
Justicia                    2
San Diego                   2
Alameda de Osuna            2
Universidad                 2
Arapiles                    2
Corralejos                  2
Chopera                     1
Vallehermoso                1
Trafalgar                   1
Banana Homes SL             1
Carmen                      1
ArgÃ¼elles                  1
Valverde                    1
Mirasierra                  1
Ambroz                      1
Ciudad JardÃ­n              1
Leticia                     1
Valdeacederas               1
Rejas                       1
Amalia                      1
Irene                       1
Gripofox Sl                 1
Cuatro Caminos              1
Elstead                     1
Aluche                      1
Simancas                    1
Abrantes                    1
Name: district, dtype: int64

In [27]:
street_list = [] 
for street in Airbnb ['district'].unique():
    if len(Airbnb[Airbnb['district'] == street]) < 10:
        street_list.append(street)

In [28]:
Airbnb = Airbnb[~Airbnb['district'].isin(street_list)]

In [29]:
def remove_accent(x):
    x = x.replace("Ã","i")
    x = x.replace("i¡","a")
    return x

In [30]:
Airbnb['district'] = Airbnb['district'].apply(remove_accent)
Airbnb['district'].value_counts()

Centro                   8618
Salamanca                1324
Chamberi­                1248
Arganzuela               1102
Tetuan                    811
Carabanchel               706
Retiro                    662
Ciudad Lineal             648
Puente de Vallecas        614
Latina                    605
Chamarti­n                579
Moncloa - Aravaca         553
San Blas - Canillejas     490
Hortaleza                 364
Fuencarral - El Pardo     313
Usera                     280
Villaverde                176
Barajas                   168
Moratalaz                 118
Villa de Vallecas          98
Vicalvaro                  71
Name: district, dtype: int64

In [31]:
Airbnb['district']= Airbnb['district'].str.lower()
Airbnb

      airbnb-ID    district latitude longitude        room_type price
0          6369  chamarti­n  4045724   -367688     Private room    60
1         21853      latina  4040381    -37413     Private room    31
2         23001  arganzuela   403884   -369511  Entire home/apt    50
3         24805      centro  4042183   -370529  Entire home/apt    92
4         26825  arganzuela  4038975   -369018     Private room    26
...         ...         ...      ...       ...              ...   ...
19674  49185822      centro  4040756   -369937     Private room    23
19675  49186179   chamberi­  4043706   -371364     Private room    21
19676  49187258   chamberi­  4043857   -370715     Private room    22
19677  49187471   salamanca  4043027   -366759     Private room    19
19678  49187791   chamberi­  4043484   -370667     Private room    20

[19548 rows x 6 columns]

In [32]:
Airbnb.to_csv('Airbnb.csv', index = False)

# Bicycle Stops

In [33]:
Bicycle = pd.read_excel("Aparca bicis.xlsx")
Bicycle

,"MXASSETNUM,C,12","DESCRIPTIO,C,105","MINTDISTRI,C,20","NOMBRE_DIS,C,25","MINTBARRIO,C,10","NOMBRE_BAR,C,50","ESTADO,C,50","INSTALLDAT,D","MINTTIPOVI,C,15","MINTNOMBRE,C,254","MINTNUMERO,C,25","MINTNDP,C,20","MODELO,C,254"
0,458431,MU-51 - Soporte de Bicicletas Universal,5,CHAMARTIN,54,HISPANOAMERICA,OPERATIVO,NaT,AVENIDA,ALFONSO XIII,56,11024496.0,MU-51
1,458436,MU-51 - Soporte de Bicicletas Universal,3,RETIRO,34,IBIZA,OPERATIVO,NaT,AVENIDA,MENENDEZ PELAYO,61,11012375.0,MU-51
2,458445,MU-51 - Soporte de Bicicletas Universal,3,RETIRO,34,IBIZA,OPERATIVO,NaT,CALLE,DOCE DE OCTUBRE,1,11012364.0,MU-51
3,458595,MU-51 - Soporte de Bicicletas Universal,5,CHAMARTIN,51,EL VISO,OPERATIVO,NaT,CALLE,PEDRO DE VALDIVIA,6,11020541.0,MU-38
4,98491,MU-51 - Soporte de Bicicletas Universal,16,HORTALEZA,163,CANILLAS,OPERATIVO,NaT,CALLE,AREQUIPA,1,31049247.0,MU-51
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6053,9023484,MU-51 - Soporte de Bicicletas Universal,5,CHAMARTIN,56,CASTILLA,OPERATIVO,NaT,CALLE,AGUSTIN DE FOXA,40,20133496.0,MU-51
6054,9023485,MU-51 - Soporte de Bicicletas Universal,5,CHAMARTIN,56,CASTILLA,OPERATIVO,NaT,CALLE,AGUSTIN DE FOXA,40,20133496.0,MU-51
6055,9023481,MU-51 - Soporte de Bicicletas Universal,5,CHAMARTIN,56,CASTILLA,OPERATIVO,NaT,CALLE,AGUSTIN DE FOXA,40,20133496.0,MU-51
6056,9023486,MU-51 - Soporte de Bicicletas Universal,5,CHAMARTIN,56,CASTILLA,OPERATIVO,NaT,CALLE,AGUSTIN DE FOXA,40,20133496.0,MU-51
6057,9023482,MU-51 - Soporte de Bicicletas Universal,5,CHAMARTIN,56,CASTILLA,OPERATIVO,NaT,CALLE,AGUSTIN DE FOXA,40,20133496.0,MU-51

In [34]:
Bicycle = Bicycle.drop(['DESCRIPTIO,C,105','MINTBARRIO,C,10', 'NOMBRE_BAR,C,50', 'INSTALLDAT,D','MINTTIPOVI,C,15','MINTNOMBRE,C,254','MINTNUMERO,C,25','MINTNDP,C,20','MODELO,C,254'], axis=1)

In [35]:
Bicycle = Bicycle.rename(columns={'MXASSETNUM,C,12':'Bicyclestop-ID',
                         'MINTDISTRI,C,20':'District-ID', 
                         'NOMBRE_DIS,C,25':'District',
                         'ESTADO,C,50' :'Condition'})

In [36]:
Bicycle['Condition'].value_counts()

OPERATIVO    6054
ACTIVO          4
Name: Condition, dtype: int64

In [37]:
def cleanOperation(x):
    if 'OPERATIVO' in x:
        return "OPERATIVE"
    elif 'ACTIVO' in x:
        return "OPERATIVE"
    else:
        return x

Bicycle['Condition'] = list(map(cleanOperation, Bicycle['Condition']))

In [38]:
#I Will drop them now because 100% are operative.
Bicycle = Bicycle.drop(['Condition'], axis=1)
Bicycle['District']= Bicycle['District'].str.lower()
Bicycle

      Bicyclestop-ID  District-ID   District
0             458431            5  chamartin
1             458436            3     retiro
2             458445            3     retiro
3             458595            5  chamartin
4              98491           16  hortaleza
...              ...          ...        ...
6053         9023484            5  chamartin
6054         9023485            5  chamartin
6055         9023481            5  chamartin
6056         9023486            5  chamartin
6057         9023482            5  chamartin

[6058 rows x 3 columns]

In [39]:
Bicycle.to_csv('Bicycle.csv', index = False)

# Felonies

In [40]:
felonies = pd.read_excel("Delitos cometidos en enero de 2023.xlsx")
felonies

,DISTRITOS,RELACIONADAS CON LAS PERSONAS,RELACIONADAS CON EL PATRIMONIO,POR TENENCIA DE ARMAS,POR TENENCIA DE DROGAS,POR CONSUMO DE DROGAS,PERSONAS DETENIDAS E INVESTIGADAS,AccidentesCON VICTIMAS,Accidentes SIN VICTIMAS,Consumo alcohol en vias publicas MAYORES DE EDAD,Consumo alcohol en vias publicas MENORES DE 18 AÑOS
0,CENTRO,23,89,21,296,60,147,44,61,853,3
1,ARGANZUELA,2,6,0,5,1,12,38,48,2,8
2,RETIRO,1,6,0,4,1,11,46,39,6,0
3,SALAMANCA,9,36,1,26,1,47,55,71,9,6
4,CHAMARTÍN,7,15,1,29,5,35,53,68,112,1
5,TETUÁN,17,15,4,10,0,30,43,45,3,0
6,CHAMBERÍ,5,3,0,36,0,15,41,40,7,0
7,FUENCARRAL - EL PARDO,4,1,0,14,1,20,45,55,17,0
8,MONCLOA - ARAVACA,4,6,0,7,3,11,23,39,4,0
9,LATINA,9,5,2,23,3,31,33,48,18,0
10,CARABANCHEL,18,6,1,27,2,48,48,53,11,1
11,USERA,5,5,0,9,2,18,26,46,9,0
12,PUENTE DE VALLECAS,19,19,10,37,6,48,49,86,59,0
13,MORATALAZ,1,3,0,2,0,6,16,24,2,0
14,CIUDAD LINEAL,10,7,3,39,1,34,48,59,38,0
15,HORTALEZA,3,11,1,31,5,15,26,46,38,1
16,VILLAVERDE,6,6,0,11,1,15,24,34,3,0
17,VILLA DE VALLECAS,7,22,5,7,0,9,14,33,5,0
18,VICÁLVARO,1,2,1,1,2,5,7,17,15,0
19,SAN BLAS - CANILLEJAS,2,17,0,11,3,10,37,50,12,1
20,BARAJAS,4,11,2,0,0,2,10,19,13,0
21,TOTAL,157,291,52,625,97,569,726,981,1236,21

In [41]:
 felonies = felonies.drop(['RELACIONADAS CON LAS PERSONAS','RELACIONADAS CON EL PATRIMONIO', 'PERSONAS DETENIDAS E INVESTIGADAS'], axis=1)

In [42]:
felonies = felonies.rename(columns={'DISTRITOS':'District', 'POR TENENCIA DE ARMAS' : 'possession of weapons', 'POR TENENCIA DE DROGAS': 'drug possession', 'POR CONSUMO DE DROGAS' : 'drug offence', 'AccidentesCON VICTIMAS':'accident with victims', 'Accidentes SIN VICTIMAS': 'accident without victims','Consumo alcohol en vias publicas MAYORES DE EDAD': 'Consumption of alcohol on public roads of legal Age', 'Consumo alcohol en vias publicas MENORES DE 18 AÑOS': 'Consumption of alcohol on public roads minors'})
felonies['Consumption of alcohol on public roads'] = felonies['Consumption of alcohol on public roads of legal Age'] + felonies['Consumption of alcohol on public roads minors']

In [43]:
felonies = felonies.drop(['Consumption of alcohol on public roads of legal Age', 'Consumption of alcohol on public roads minors'], axis=1)

In [44]:
felonies ['total offense'] = felonies['possession of weapons'] + felonies['drug possession'] + felonies['drug offence'] + felonies['accident with victims'] + felonies['accident without victims'] + felonies['Consumption of alcohol on public roads']

In [45]:
felonies['District']= felonies['District'].str.lower()
felonies

,District,possession of weapons,drug possession,drug offence,accident with victims,accident without victims,Consumption of alcohol on public roads,total offense
0,centro,21,296,60,44,61,856,1338
1,arganzuela,0,5,1,38,48,10,102
2,retiro,0,4,1,46,39,6,96
3,salamanca,1,26,1,55,71,15,169
4,chamartín,1,29,5,53,68,113,269
5,tetuán,4,10,0,43,45,3,105
6,chamberí,0,36,0,41,40,7,124
7,fuencarral - el pardo,0,14,1,45,55,17,132
8,moncloa - aravaca,0,7,3,23,39,4,76
9,latina,2,23,3,33,48,18,127
10,carabanchel,1,27,2,48,53,12,143
11,usera,0,9,2,26,46,9,92
12,puente de vallecas,10,37,6,49,86,59,247
13,moratalaz,0,2,0,16,24,2,44
14,ciudad lineal,3,39,1,48,59,38,188
15,hortaleza,1,31,5,26,46,39,148
16,villaverde,0,11,1,24,34,3,73
17,villa de vallecas,5,7,0,14,33,5,64
18,vicálvaro,1,1,2,7,17,15,43
19,san blas - canillejas,0,11,3,37,50,13,114
20,barajas,2,0,0,10,19,13,44
21,total,52,625,97,726,981,1257,3738

In [46]:
felonies.to_csv('felonies.csv', index = False)

# Population per District

In [47]:
population = pd.read_excel("Poblacion.xlsx")
population

,Características,City of Madrid,Centro,Arganzuela,Retiro,Salamanca,Chamartín,Tetuán,Chamberí,Fuencarral- El Pardo,Moncloa-Aravaca,Latina,Carabanchel,Usera,Puente de Vallecas,Moratalaz,Ciudad Lineal,Hortaleza,Villaverde,Villa de Vallecas,Vicálvaro,San Blas-Canillejas,Barajas
0,Density (hab./Ha),"54,79","270,14","238,68","216,89","270,78","158,79","297,40","296,34","10,41","25,96","94,44","184,10","183,15","159,70","153,70","189,76","70,47","76,68","22,29","21,4","71,88","11,94"
1,Population,3312310,141236,154243,118557,146016,145700,159849,138667,247692,120834,240155,258633,142454,239057,93810,216818,193228,154808,114733,75485,160258,50077
2,From 0 to 15 years,455915,10608,18571,14443,16147,19913,18293,14767,43940,17036,28946,36742,21188,32422,10702,26603,33962,24755,21691,13130,23211,8845
3,From 16 to 64 years,2193001,108667,105078,73037,95122,91663,111262,90307,151598,77360,153183,173880,97802,164930,58667,140979,123390,104295,78516,51726,109264,32275
4,65 years or more,663394,21961,30594,31077,34747,34124,30294,33593,52154,26438,58026,48011,23464,41705,24441,49236,35876,25758,14526,10629,27783,8957

In [48]:
population = population.rename(columns={'Retiro ':'Retiro'})

In [49]:
population.to_csv('population.csv', index = False)

# Restaurants

In [50]:
restaurants = pd.read_excel("locales202303.xlsx")

C:\Users\gorka\AppData\Local\Temp\ipykernel_15196\4282547768.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  restaurants = pd.read_excel("locales202303.xlsx")

In [51]:
restaurants = restaurants.drop(['Unnamed: 7','Unnamed: 8', 'Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12'], axis=1)
restaurants

,id_local,id_distrito_local,desc_distrito_local,coordenada_x_local,coordenada_y_local,id_situacion_local,desc_situacion_local
0,300007732,6.0,TETUAN,439965.5,4478510.5,4.0,Cerrado
1,300007754,6.0,TETUAN,440164.38,4477802.0,4.0,Cerrado
2,300007812,6.0,TETUAN,0.0,0.0,9.0,Baja Reunificación
3,300007840,6.0,TETUAN,440734.25,4477639.0,1.0,Abierto
4,300008082,6.0,TETUAN,441342.4,4477737.0,4.0,Cerrado
...,...,...,...,...,...,...,...
150692,285033186,19.0,VICALVARO,448519.53,4472648.5,4.0,Cerrado
150693,285033189,19.0,VICALVARO,448540.53,4472596.5,1.0,Abierto
150694,285033191,19.0,VICALVARO,448559.53,4472644.5,4.0,Cerrado
150695,285033192,19.0,VICALVARO,448612.53,4472697.5,4.0,Cerrado
150696,285033196,19.0,VICALVARO,448523.53,4472667.5,4.0,Cerrado

In [52]:
restaurants = restaurants[restaurants['desc_situacion_local'] == 'Abierto']

In [53]:
restaurants.reset_index()

,index,id_local,id_distrito_local,desc_distrito_local,coordenada_x_local,coordenada_y_local,id_situacion_local,desc_situacion_local
0,3,300007840,6.0,TETUAN,440734.25,4477639.0,1.0,Abierto
1,6,300008473,6.0,TETUAN,440600.47,4478861.5,1.0,Abierto
2,15,300009205,6.0,TETUAN,440556.7,4479615.0,1.0,Abierto
3,19,300009269,6.0,TETUAN,440438.75,4478625.5,1.0,Abierto
4,20,300009291,6.0,TETUAN,440003.2,4478717.5,1.0,Abierto
...,...,...,...,...,...,...,...,...
99353,150683,285031315,17.0,VILLAVERDE,439751.53,4465209.5,1.0,Abierto
99354,150684,285031318,17.0,VILLAVERDE,439724.53,4465208.5,1.0,Abierto
99355,150685,285031323,17.0,VILLAVERDE,439673.53,4465207.5,1.0,Abierto
99356,150686,285031327,17.0,VILLAVERDE,439752.53,4465195.5,1.0,Abierto
99357,150693,285033189,19.0,VICALVARO,448540.53,4472596.5,1.0,Abierto

In [54]:
restaurants = restaurants.drop(['id_situacion_local', 'desc_situacion_local'], axis=1)

In [55]:
restaurants = restaurants.rename(columns={'id_local':'local-ID', 'id_distrito_local' : 'District-ID', 'desc_distrito_local': 'District', 'coordenada_x_local' : 'Cordenate-X', 'coordenada_y_local':'Cordenate-Y'})

In [56]:
restaurants['District']= restaurants['District'].str.lower()
restaurants

         local-ID  District-ID              District Cordenate-X  Cordenate-Y
3       300007840          6.0  tetuan                 440734.25    4477639.0
6       300008473          6.0  tetuan                 440600.47    4478861.5
15      300009205          6.0  tetuan                  440556.7    4479615.0
19      300009269          6.0  tetuan                 440438.75    4478625.5
20      300009291          6.0  tetuan                  440003.2    4478717.5
...           ...          ...                   ...         ...          ...
150683  285031315         17.0  villaverde             439751.53    4465209.5
150684  285031318         17.0  villaverde             439724.53    4465208.5
150685  285031323         17.0  villaverde             439673.53    4465207.5
150686  285031327         17.0  villaverde             439752.53    4465195.5
150693  285033189         19.0  vicalvaro              448540.53    4472596.5

[99358 rows x 5 columns]

In [57]:
restaurants.to_csv('restaurants.csv', index = False)

# Amenities

In [58]:
markets = pd.read_excel("mercados.xlsx")
sportscenter = pd.read_excel("Polideportivos.xlsx")
University = pd.read_excel("universidades-educacion.xlsx")
display (markets)
display (sportscenter)
display (University)

,PK,NOMBRE,COD-DISTRITO,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,Type
0,12418,Mercado municipal de Antón Martín,1.0,CENTRO,440710.0,4473658.0,40411422452721504,-36988110198857104,market
1,12393,Mercado municipal de Barceló,1.0,CENTRO,440683.0,4475365.0,4042680707802060,-36992767323438304,market
2,12406,Mercado municipal de Los Mostenses,1.0,CENTRO,439862.0,4474976.0,40423243776104,-37089296405152096,market
3,12417,Mercado municipal de San Antón,1.0,CENTRO,440825.0,4474835.0,40422042629795200,-3697565301846020,market
4,12416,Mercado municipal de San Fernando (Embajadores),1.0,CENTRO,440274.0,4473236.0,40407598710636000,-37039098865773904,market
5,12419,Mercado municipal de la Cebada,1.0,CENTRO,439780.0,4473650.0,4041129262886910,-37097706603113504,market
6,12400,Mercado municipal de Guillermo de Osma,2.0,ARGANZUELA,441042.0,4472034.0,403949437306698,-36960129848486096,market
7,12399,Mercado municipal de Santa María de la Cabeza,2.0,ARGANZUELA,440832.0,4472713.0,4040291810276810,-36972853519882400,market
8,4824028,Mercado municipal de Ibiza,3.0,RETIRO,442533.0,4474392.0,4041817157699020,-3677392762224420,market
9,12394,Mercado municipal de Pacífico,3.0,RETIRO,442677.0,4472855.0,4040433546207180,-36755452423143400,market
10,12414,Mercado municipal de Diego de León,4.0,SALAMANCA,442116.0,4476236.0,4043475434372190,-36824756273454704,market
11,12425,Mercado municipal de La Guindalera,4.0,SALAMANCA,443083.0,4476157.0,4043410047219340,-3671056299540890,market
12,12398,Mercado municipal de la Paz,4.0,SALAMANCA,441826.0,4475458.0,4042772557961970,-36858115591230600,market
13,12413,Mercado municipal de Chamartín,5.0,CHAMARTIN,442509.0,4478737.0,40457311867437296,-3678056977192460,market
14,12412,Mercado municipal de Prosperidad,5.0,CHAMARTIN,442833.0,4477298.0,404443619472988,-3674118079721270,market
15,12450,Mercado municipal de San Cristóbal,5.0,CHAMARTIN,442053.0,4481294.0,4047843331496170,-36849469591835400,market
16,12402,Mercado municipal de Maravillas,6.0,TETUAN,440347.0,4477839.0,40449060922663600,-37034696566148400,market
17,12420,Mercado municipal de San Enrique,6.0,TETUAN,440716.0,4478818.0,40456033970000704,-37004877796909504,market
18,12441,Mercado municipal de Tetuán,6.0,TETUAN,440752.0,4479160.0,404609899402179,-36988290271823696,market
19,12442,Mercado municipal de la Remonta,6.0,TETUAN,440972.0,4479488.0,40463969366476400,-3696264958640330,market
20,12422,Mercado municipal de Chamberí,7.0,CHAMBERI,440811.0,4476407.0,4043620300971710,-36978649027841800,market
21,12427,Mercado municipal de Guzmán el Bueno,7.0,CHAMBERI,439398.0,4476280.0,4043495717590030,-37145114819530304,market
22,12403,Mercado municipal de Vallehermoso,7.0,CHAMBERI,439904.0,4476186.0,4043413801893940,-37085488662890896,market
23,12426,Mercado municipal de Argüelles,9.0,MONCLOA-ARAVACA,439107.0,4475866.0,40431197427341104,-37179024231789400,market
24,12443,Mercado municipal de Valdezarza,9.0,MONCLOA-ARAVACA,438998.0,4479816.0,4046677250917080,-37195786099544000,market
25,12424,Mercado municipal de Alto de Extremadura,10.0,LATINA,437622.0,4473300.0,4040797174906470,-37351687013396304,market
26,12423,Mercado municipal de Las Águilas,10.0,LATINA,434775.0,4469966.0,4037771961975460,-37683778002246600,market
27,12404,Mercado municipal de Tirso de Molina,10.0,LATINA,438399.0,4473847.0,4041295729782620,-37260532291020600,market
28,12428,Mercado municipal de Puerta Bonita,11.0,CARABANCHEL,437351.0,4470870.0,40386069987981800,-37381115427324496,market
29,12396,Mercado municipal de San Isidro,11.0,CARABANCHEL,438448.0,4471494.0,4039177425768850,-37252453825412200,market
30,12431,Mercado municipal de Jesús del Gran Poder,12.0,USERA,440494.0,4470881.0,4038639943136540,-37010971746900304,market
31,12430,Mercado municipal de Orcasitas,12.0,USERA,439392.0,4469154.0,40368880585172400,-3715179497757880,market
32,12408,Mercado municipal de Usera,12.0,USERA,440056.0,4470962.0,4038709779232290,-3706253056063660,market
33,12433,Mercado municipal de Doña Carlota,13.0,PUENTE DE VALLECAS,444016.0,4472712.0,404031383496021,-36597537009742800,market
34,12407,Mercado municipal de Mediodía - Entrevías,13.0,PUENTE DE VALLECAS,443191.0,4469963.0,4037831782244750,-36692420255769200,market
35,12435,Mercado municipal de Numancia,13.0,PUENTE DE VALLECAS,444159.0,4471630.0,40393391586979904,-36579853920414496,market
36,12434,Mercado municipal de Puente de Vallecas,13.0,PUENTE DE VALLECAS,443332.0,4471841.0,4039524554761870,-3667748162837300,market
37,12436,Mercado municipal de Moratalaz,14.0,MORATALAZ,445233.0,4472902.0,4040493085829730,-3645440746968980,market
38,12405,Mercado municipal de Bami,15.0,CIUDAD LINEAL,444410.0,4475768.0,40430694913121696,-3655377903084200,market
39,12451,Mercado municipal de Las Ventas,15.0,CIUDAD LINEAL,444282.0,4476082.0,4043351496197300,-36569261794988000,market
40,12410,Mercado municipal de San Pascual,15.0,CIUDAD LINEAL,444671.0,4476814.0,4043826322016390,-36536591990125400,market
41,12439,Mercado municipal de Santa Eugenia,18.0,VILLA DE VALLECAS,448484.0,4470238.0,4038113023262800,-36069142380412704,market
42,12438,Mercado municipal de Villa de Vallecas,18.0,VILLA DE VALLECAS,447035.0,4469964.0,4037857107320670,-3623949195193400,market
43,12409,Mercado municipal de Vicálvaro,19.0,VICALVARO,NaN,NaN,404058062645599,-36082992742182896,market
44,12437,Mercado municipal de Villaverde Alto,NaN,VILLAVERDE,439615.0,4466438.0,4034630225051670,-37110317703364496,market

,PK,NOMBRE,COD-DISTRITO,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TIPO,Unnamed: 9
0,4707,Centro Deportivo Municipal María Jesús Rosa (...,8,FUENCARRAL-EL PARDO,439931,4481139,4047876758357450,-37086993281311904,/contenido/entidadesYorganismos/CentrosEspacio...,
1,10183549,Centro Deportivo Municipal Alcántara,4,SALAMANCA,442851,4475492,4042810291538110,-36737317205040496,/contenido/entidadesYorganismos/CentrosEspacio...,
2,114782,Centro Deportivo Municipal Alfredo Goyeneche,9,MONCLOA-ARAVACA,433581,4478234,4045212135012850,-3783283203719190,/contenido/entidadesYorganismos/CentrosEspacio...,
3,4696,Centro Deportivo Municipal Aluche,10,LATINA,434332,4470525,40382720517194704,-3773653600881560,/contenido/entidadesYorganismos/CentrosEspacio...,
4,4617960,Centro Deportivo Municipal Antiguo Canódromo,11,CARABANCHEL,437604,4472194,4039801608457680,-37352725040539504,/contenido/entidadesYorganismos/CentrosEspacio...,
...,...,...,...,...,...,...,...,...,...,...
74,4678,Centro Deportivo Municipal Ángel Nieto (antigu...,13,PUENTE DE VALLECAS,443998,4471417,4039146194707860,-36598636029775800,/contenido/entidadesYorganismos/CentrosEspacio...,
75,10663007,Estadio Vallehermoso (centro deportivo),7,CHAMBERI,439868,4476906,4044063826273840,-37090268576934496,/contenido/entidadesYorganismos/CentrosEspacio...,
76,4541767,Instalación Deportiva Municipal Básica Parque ...,19,VICALVARO,448447,4473531,4041079351896060,-3607616723630340,/contenido/entidadesYorganismos/CentrosEspacio...,
77,6210334,Instalación Deportiva Municipal Básica Torresp...,4,SALAMANCA,443937,4474729,4042129422167340,-36608740643380400,/contenido/entidadesYorganismos/CentrosEspacio...,
78,4544562,Instalación Deportiva Municipal Básica Victori...,17,VILLAVERDE,441734,4468008,4036060552171130,-3686214416479880,/contenido/entidadesYorganismos/CentrosEspacio...,

,PK,NOMBRE,COD-DISTRITO,DISTRITO,COORDENADA-X,COORDENADA-Y,LATITUD,LONGITUD,TIPO,Unnamed: 9
0,6407,CUNEF Universidad,9,MONCLOA-ARAVACA,439058,4478350,4045357920636980,-3718717277671810,University,
1,6498,Escuela de Práctica Jurídica,1,CENTRO,439846,4475175,4042503530088560,-37091370642279200,University,
2,6677,Escuela Superior de Diseño,14,MORATALAZ,444948,4473366,4040908310416650,-3648827535580880,University,
3,6373,Escuela Universitaria de Enfermería. Fundación...,9,MONCLOA-ARAVACA,439048,4476701,4043868151604700,-3718288587745240,University,
4,6369,Escuela Universitaria de Magisterio ESCUNI,11,CARABANCHEL,436405,4470042,4037853024498560,-37491851721721000,University,
...,...,...,...,...,...,...,...,...,...,...
79,6349,Universidad Pontificia Comillas. Facultad de D...,1,CENTRO,439748,4475714,40429883831913600,-37103315481798400,University,
80,6348,Universidad Pontificia Comillas. Facultad de T...,8,FUENCARRAL-EL PARDO,442188,4489264,40552125920224704,-3682802161256000,University,
81,11392787,Universidad Pontificia de Comillas. Facultad d...,1,CENTRO,439669,4475725,4042996811780780,-3711275575912570,University,
82,6345,Universidad Pontificia de Comillas. Facultad d...,1,CENTRO,439669,4475725,4042996811780780,-3711275575912570,University,
83,4961029,Universidad Pontificia de Salamanca. Facultad ...,7,CHAMBERI,439303,4475960,404320681305,-37155984461035696,University,

In [59]:
markets = markets.drop (['PK'],axis = 1 )
markets = markets.rename(columns={'NOMBRE':'Name', 'COD-DISTRITO' : 'District-ID', 'DISTRITO': 'District', 'COORDENADA-X' : 'Cordenate-X', 'COORDENADA-Y':'Cordenate-Y', 'LATITUD': 'latitude', 'LONGITUD':'longitude' })

In [60]:
markets['District-ID']= markets['District-ID'].fillna(17)
markets['Cordenate-X'] = markets['Cordenate-X']. fillna(0)
markets['Cordenate-Y'] = markets['Cordenate-Y']. fillna(0)
markets['District']= markets['District'].str.lower()

In [61]:
sportscenter = sportscenter.drop (['PK', 'Unnamed: 9'],axis = 1 )
sportscenter = sportscenter.rename(columns={'NOMBRE':'Name', 'COD-DISTRITO' : 'District-ID', 'DISTRITO': 'District', 'COORDENADA-X' : 'Cordenate-X', 'COORDENADA-Y':'Cordenate-Y', 'LATITUD': 'latitude', 'LONGITUD':'longitude','TIPO': 'Type'})
sportscenter['District']= sportscenter['District'].str.lower()

In [62]:
# I want to drop from this column '/contenido/entidadesYorganismos/CentrosEspacio..'
Type = []
for c in sportscenter ['Type']:
    Type.append(c.split ('/')[4: ])
sportscenter['Type'] = Type

In [63]:
University = University.drop (['PK', 'Unnamed: 9'],axis = 1 )
University = University.rename(columns={'NOMBRE':'Name', 'COD-DISTRITO' : 'District-ID', 'DISTRITO': 'District', 'COORDENADA-X' : 'Cordenate-X', 'COORDENADA-Y':'Cordenate-Y', 'LATITUD': 'latitude', 'LONGITUD':'longitude', 'TIPO': 'Type' })

In [64]:
University['District']= University['District'].str.lower()

In [65]:
Amenities = pd.concat([markets, sportscenter, University], ignore_index=True, axis=0)

In [66]:
Amenities

,Name,District-ID,District,Cordenate-X,Cordenate-Y,latitude,longitude,Type
0,Mercado municipal de Antón Martín,1.0,centro,440710.0,4473658.0,40411422452721504,-36988110198857104,market
1,Mercado municipal de Barceló,1.0,centro,440683.0,4475365.0,4042680707802060,-36992767323438304,market
2,Mercado municipal de Los Mostenses,1.0,centro,439862.0,4474976.0,40423243776104,-37089296405152096,market
3,Mercado municipal de San Antón,1.0,centro,440825.0,4474835.0,40422042629795200,-3697565301846020,market
4,Mercado municipal de San Fernando (Embajadores),1.0,centro,440274.0,4473236.0,40407598710636000,-37039098865773904,market
...,...,...,...,...,...,...,...,...
203,Universidad Pontificia Comillas. Facultad de D...,1.0,centro,439748.0,4475714.0,40429883831913600,-37103315481798400,University
204,Universidad Pontificia Comillas. Facultad de T...,8.0,fuencarral-el pardo,442188.0,4489264.0,40552125920224704,-3682802161256000,University
205,Universidad Pontificia de Comillas. Facultad d...,1.0,centro,439669.0,4475725.0,4042996811780780,-3711275575912570,University
206,Universidad Pontificia de Comillas. Facultad d...,1.0,centro,439669.0,4475725.0,4042996811780780,-3711275575912570,University
207,Universidad Pontificia de Salamanca. Facultad ...,7.0,chamberi,439303.0,4475960.0,404320681305,-37155984461035696,University

In [67]:
Amenities.to_csv('Amenities.csv', index = False)

# transport connections

In [68]:
bustop =  pd.read_excel("Paradas buses.xlsx")
metrostop = pd.read_excel("Paradas metro.xlsx")

In [69]:
metrostop.isna().sum()

CODIGOESTACION    0
DENOMINACION      0
DISTRITO          0
X                 0
Y                 0
Type              0
dtype: int64

In [70]:
bustop = bustop.fillna(0)

In [71]:
Transport = pd.concat([metrostop,bustop], axis = 0)

In [72]:
Transport = Transport.rename(columns={'CODIGOESTACION':'Station-id', 'DENOMINACION' : 'Name', 'DISTRITO': 'District-ID', 'X' : 'Cordenate-X', 'Y':'Cordenate-Y'})
Transport

,Station-id,Name,District-ID,Cordenate-X,Cordenate-Y,Type
0,38,NOVICIADO,1,440100.0,4475360.0,Metro
1,175,ESTRELLA,14,443960.0,4473846.0,Metro
2,7,RIOS ROSAS,7,440632.0,4477258.0,Metro
3,102,CAMPAMENTO,10,434921.0,4472069.0,Metro
4,109,USERA,12,440111.0,4471170.0,Metro
...,...,...,...,...,...,...
4713,6565,JUANITA CRUZ-MARIA DE MAEZTU,8,438914.0,4483250.0,Bus
4714,6566,ESTACIÓN DE PITIS,8,438654.0,4483210.0,Bus
4715,6473,JUAN I.LUCA DE TENA Nº21,20,446808.0,4477862.0,Bus
4716,6474,GUABAIRO-GTA. DEL EJERCITO,11,436860.0,4471242.0,Bus
4717,6568,Pº GINEBRA-SUECIA,20,448829.0,4475292.0,Bus

In [73]:
Transport.to_csv('Transport.csv', index = False)